.burger-menu{
    transition: transform 0.2s ease;
    cursor: pointer;
}
.rotate-menu{
    transform: skewY(-50deg) rotateY(-90deg);
}

.burger-container{
    position: relative;
}
.close-icon {
    transform: skewY(0deg) rotateY(0deg);
    transition: transform 0.5s ease;
    cursor: pointer;
}
.rotate-close {
    transform: skewY(50deg) rotateY(-90deg);
    transition: transform 0.5s ease;
}

.menu {
    background-color: $color-gray-light;
    position: absolute;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 1s ease-in-out;
    transform: translateX(-20%);
}
  
.openedMenu {
    max-height: 2000px;
}